<header class="header">
  <div class="container">
    <div class="row between-xs">
      <div class="col-xs-3">
        <li class="logo"><a href="{{site.baseurl}}/about">DragonBelly</a></li>
      </div><!--/.col-->
      <div class="col-xs-9">
        <ul class="nav">
          <li><a href="{{site.baseurl}}/news">What's Inside</a></li>
          <li><a href="{{site.baseurl}}/contact">How it Works</a></li>
          <li><a class="btn primary" href="{{site.baseurl}}/contact">Subscribe Now</a></li>
        </ul><!--/.nav-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-->
</header><!--/.header-->
