<header class="header">
  <div class="container">
    <div class="row between-xs">
      <div class="col-xs-3">
        <li class="logo"><a href="{{site.baseurl}}/about">Dragon Belly</a></li>
      </div><!--/.col-->
      <div class="col-xs-9">
        <ul class="nav">
          <li class="nav-link"><a href="{{site.baseurl}}/news">Sign Up</a></li>
          <li class="nav-link"><a href="{{site.baseurl}}/contact">Learn More</a></li>
          <li class="nav-link"><a href="{{site.baseurl}}/contact">Learn More</a></li>
        </ul><!--/.nav-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-->
</header><!--/.header-->
