.header {
  position: relative;
  width: 100%;
  background: $color-white;
  border-top: 4px solid $color-secondary;
  z-index: 1;
  li {
    padding: 25px 20px;
    list-style-type: none;
  }
  li a {
    color: $color-primary;
    font-weight: 700;
    &:hover {
      text-decoration: none;
    }
  }
  .logo a {
    color: $color-black;
  }
  a.btn {
    color: $color-white;
  }
}
.nav {
  float: right;
  list-style-type: none;
  li {
    float: left;
  }
}
