.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: $color-black;
  border-top: 4px solid $color-secondary;
  z-index: 1;
  li {
    padding: 20px;
    list-style-type: none;
  }
  li a {
    color: $color-white;
    &:hover {
      text-decoration: none;
    }
  }
}
.nav {
  float: right;
  list-style-type: none;
  li {
    float: left;
  }
}
