.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba($color-black, 0.25);
  transition: 0.2s background ease-in;
  z-index: 1;
  &:hover {
    background: rgba($color-black, 0.5);
  }
  li {
    padding: 20px 30px;
    list-style-type: none;
  }
  li a {
    color: $color-white;
    &:hover {
      text-decoration: none;
    }
  }
}
.nav {
  float: right;
  list-style-type: none;
  li {
    float: left;
  }
}
