.hero {
  position: relative;
  width: 100%;
  .hero-text {
    color: $color-white;
    z-index: 2;
  }
}

.height-full {
  height: 100vh;
}

.hero-left {
  background: $color-black;
  color: $color-white;
}
.hero-right {
  background-image: url('https://images.unsplash.com/photo-1455114043983-850c8a283975?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: rgba($color-black, 0.1);
  }
}

.hero .btn {
  display: inline-block;
  margin-top: 40px;
}

.underline {
  border-bottom: 1px $color-white dashed;
}

.intro {
  height: 900px;
  color: black;
  background: #948c7c;
}
